{% extends 'base.html' %}

{% block home %}
    <h1>Welcome to the Solar Panel Calculator</h1>
    <p>Here, you can figure out how many solar panels you would need to go off-grid according to your current power usage.</p><br>
    <p>This is meant to be a ballpark figure. This uses data from the Nat'l Renewable Energy Laboratory to grab the amount of useable solar energy in your area, and is only one piece of the puzzle. Going off-grid involves many variables that are best answered by a certified installer.</p><br>
{% endblock %}